.hero-piece{
  background-image: url('/css_advanced/Object.png');
  caret-color: black;
  
  }

header{
  display:flex;
  flex-wrap: wrap;
  flex-direction: row;

  
}
.headersection{
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
}
.logo{
  margin-top: auto;
  margin-right:auto;
  margin-left: 100px;
}
nav {
  display: flex;
  justify-content: flex-end;
  margin-left: 750px;
  padding: 0px;
  list-style: none;
  text-align: end;
  align-items: end;
  
  
}

.nav-link {
 list-style: none;
 text-decoration: none;
 color:white;
 transition: all 0.3s ease 0s;
 font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.nav-link:hover{
  color:#FF6565;
 
}

.nav-item {
  display:inline-block;
  padding:0px 5px;
}
main{
 
  color:white;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  display:block;
  text-align: center;
  
}
.get-schooled{
  color: white;
  text-align: center;
}
.get-schooled h1{
  font-size: 70px;
  margin-top: 200px;
  font-weight: bolder;
 
}
.get-schooled p{
  display: inline-block;
  font-size: 15px;
  padding: 25px;
  padding-top: -350px;
  margin-top: -200px;
  margin-bottom: -28px;
}
button{
  background-color: rgb(235, 148, 235);
  border: none;
  border-radius: 24px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  margin-bottom: 120px;
  margin-top: 30px;
}
.learn{
  color: blueviolet;
  font-weight: bolder;
  font-size: larger;
}
.pros{
  font-size: larger;
  font-weight:lighter ;

 
}
.alumns{
  display: flex;
  text-align: center;
  justify-content: space-around;
  margin-top: 80px;
 margin-bottom: 50px;

}
.italics{
  font-style: italic;
}
.photo3 img{
border-radius: 100px;
}
.quote{
  background-color: rgb(118, 73, 160);
  color: white;
 display: flex;
 justify-content: center;
padding-top: 100px;
padding-bottom: 100px;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.person1{
  padding-right: 30px;
}
.review h1{
  font-size:2px ;
}
.popular{
  color: blueviolet;
  
}
.videolist{
  margin-top: 100px;
}
.videolist h1{
  text-align: center;
  margin-bottom: 80px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight:lighter;
  font-size: 30px;
}
.rating{
  display: flex;
  justify-content: space-around;
}
.rating h1{
  color: black;
}
.rating p{
  color: grey;
}
.types{
  margin-top: 160px;
  margin-left: -90px;
  margin-bottom: 100px;
}

.main-image{
  position: absolute;
}
.small-image{
  position: absolute;
  margin-left: 90px;
 margin-top: 40px;
}
.Philip{
  color: rgb(162, 104, 216) ;
  padding-left: 20px;
  padding-top: 12px;
}
.person{
  display: flex;
}
.members{
  display: flex;
  justify-content: space-around;
  padding-top: 40px;
}
.membership{
  text-align: center;
  color: white;
  background-color:hwb(208 0% 79%);
  padding-top: 50px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.free{
  color: rgb(162, 104, 216);
  font-weight: bolder;
}
.member{
  font-weight: lighter;
}
.button{
  margin-top: 80px;
  margin-bottom: 60px;
}
.FAQ{
  display: flex;
  justify-content: space-around;
  margin-bottom: 60px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.faq{
  margin-top: 80px;
}
.faq h1{
  text-align: center;
  margin-top: 50px;
  font-size: 50px;
  font-weight: lighter;
}
footer{
  background-color:hwb(208 0% 79%) ;
  padding-top: 80px;
  padding-bottom: 40px;
}

.socials{
  display: flex;
  justify-content: flex-end;
  margin-right: 150px;
  size: 35px;
}
.footer{
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
  padding-top: 30px;
}
.copyright{
  text-align: center;
  color: gray;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  padding-top: 40px;
  margin-bottom: 20px;
}


@font-face {
  font-family: 'holberton_school-icon';
  src: url('fonts/holberton_school-icon.eot?sq4eq4');
  src: url('fonts/holberton_school-icon.eot?sq4eq4#iefix') format('embedded-opentype'),
    url('fonts/holberton_school-icon.ttf?sq4eq4') format('truetype'),
    url('fonts/holberton_school-icon.woff?sq4eq4') format('woff'),
    url('fonts/holberton_school-icon.svg?sq4eq4#holberton_school-icon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="holberton_school-icon-"],
[class*=" holberton_school-icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'holberton_school-icon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.holberton_school-icon-arrow_1:before {
  content: "\e900";
}

.holberton_school-icon-arrow_2:before {
  content: "\e901";
}

.holberton_school-icon-arrow_3:before {
  content: "\e902";
}

.holberton_school-icon-arrow_4:before {
  content: "\e903";
}

.holberton_school-icon-arrow_5:before {
  content: "\e904";
}

.holberton_school-icon-check:before {
  content: "\e905";
}

.holberton_school-icon-ic_bag:before {
  content: "\e906";
}

.holberton_school-icon-ic_cart:before {
  content: "\e907";
}

.holberton_school-icon-ic_facebook:before {
  color: white;
  content: "\e908";
  font-size: 48px;
  padding: 10px;
}

.holberton_school-icon-ic_hearing:before {
  color: #FF6565;
  font-size: 80px;
  content: "\e909";
 
}

.holberton_school-icon-ic_instagram:before {
  color: white;
  font-size: 48px;
  content: "\e90a";
  padding: 10px;
  
 
}

.holberton_school-icon-ic_laptop:before {
  content: "\e90b";
}

.holberton_school-icon-ic_money:before {
  content: "\e90c";
}

.holberton_school-icon-ic_music:before {
  color: #FF6565;
  font-size: 80px;
  content: "\e90d";

}

.holberton_school-icon-ic_sound:before {
  color: #FF6565;
  font-size: 80px;
  content: "\e90e";

}

.holberton_school-icon-ic_twitter:before {
  font-size: 48px;
  color: white;
  content: "\e90f";
  padding: 10px;
}

.holberton_school-icon-ic_video:before {
  color: #FF6565;
  font-size: 80px;
  content: "\e910";
 
}

.holberton_school-icon-menu:before {
  content: "\e911";
}

.holberton_school-icon-search_1:before {
  content: "\e912";
}

.holberton_school-icon-search_2:before {
  content: "\e913";
}

.holberton_school-icon-star:before {
  content: "\e914";
}


