body{
  display: flex;
  flex-direction: column;
  background-color: orange;
  color:black;
  font-family: cursive;
  fon
}
main{
  display: flex;
  flex-direction: row;
  flex: auto;

  
}
article{
  flex: 2;
  overflow-y: auto;
  
}
aside{
  flex: 1;
  overflow-y: auto;
  background-color:rgb(165, 126, 42);
  flex-shrink: 4;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.logo{
  display:flex;
  flex-direction: row;
  margin-left: 0;
  color: rgb(221, 209, 40);
  size: 500px;

}
